<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1>Resumen del Día</h1>
      <p>{{ summaryDate }}</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/dashboard">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="section-title">Indicadores Clave</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="summary-card">
          <div class="card-icon blue">
            <ion-icon name="document-text-outline"></ion-icon>
          </div>
          <span class="card-value">{{ summaryData.ordersFinished }}</span>
          <span class="card-label">Comandas Válidas</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="summary-card">
          <div class="card-icon green">
            <ion-icon name="cash-outline"></ion-icon>
          </div>
          <span class="card-value">{{ summaryData.totalRevenue| currency:'COP':'$' }}</span>
          <span class="card-label">Ingresos Totales</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="summary-card">
          <div class="card-icon indigo">
            <ion-icon name="restaurant-outline"></ion-icon>
          </div>
          <span class="card-value">{{ summaryData.tableOrders }}</span>
          <span class="card-label">En Mesas</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="summary-card">
          <div class="card-icon orange">
            <ion-icon name="bag-handle-outline"></ion-icon>
          </div>
          <span class="card-value">{{ summaryData.takeawayOrders }}</span>
          <span class="card-label">Para Llevar</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="top-products-list">
    <ion-list-header>
      <h2 class="section-title">Productos Más Vendidos</h2>
    </ion-list-header>

    <p *ngIf="summaryData.topProducts[0].name === 'Ninguno'" class="empty-list">
      No hay datos de productos vendidos.
    </p>

    <ion-item *ngFor="let product of summaryData.topProducts; let i = index" lines="none">
      <div class="product-rank" slot="start">
        <span>{{ i + 1 }}</span>
      </div>
      <ion-label>
        <h3>{{product.category?.name}} - {{ product.name }}</h3>
      </ion-label>
      <div slot="end" class="product-count">
        {{ product.count }} vendidos
      </div>
    </ion-item>
  </ion-list>

</ion-content>