ion-toolbar {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid var(--ion-color-step-150, #e0e0e0);

    h1 {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0;
    }

    p {
        font-size: 0.875rem;
        color: var(--ion-color-medium-shade);
        margin: 0;
    }
}

.category-section {
    margin-bottom: 16px;
}

ion-list-header {
    h2 {
        font-size: 1.2em;
        font-weight: bold;
        color: var(--ion-color-dark);
        margin: 0;
        padding-left: 16px;
    }
}

ion-item {
    --background: #ffffff;
    --border-radius: 12px;
    --padding-start: 12px;
    --inner-padding-end: 12px;
    --min-height: 70px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin: 0 16px 8px;

    // Estilo para productos no disponibles
    &.unavailable {
        opacity: 0.6;

        h3,
        p {
            text-decoration: line-through;
        }
    }

    ion-avatar {
        width: 50px;
        height: 50px;
    }

    ion-label {
        h3 {
            font-weight: 600;
        }
    }

    .item-actions {
        display: flex;
        align-items: center;
        gap: 4px;

        ion-toggle {
            --background: #e5e7eb;
            --background-checked: #c7d2fe;
            --handle-background: #fff;
            --handle-background-checked: #4f46e5
        }
    }
}

ion-toggle {
    --background: #e5e7eb;
    --background-checked: #c7d2fe;
    --handle-background: #fff;
    --handle-background-checked: #4f46e5
}


ion-item {
    --background: #ffffff;
    --border-radius: 12px;
    --padding-start: 16px;
    --inner-padding-end: 16px;
    --min-height: 55px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 12px;

    ion-label {
        font-weight: 600;
    }
}

h2 {
    color: #000000;
    font-weight: bold;
}

.empty-message {
    text-align: center;
    margin-top: 40%;
    color: var(--ion-color-medium);
}

.item-inactive ion-label {
    text-decoration: line-through;
    color: var(--ion-color-medium);
}

.badge-status {
    padding: .5rem;
}

.product-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; // Asegura que no se deforme
    border-radius: 8px; // Bordes ligeramente redondeados
    aspect-ratio: 1 / 1; // Mantiene la imagen cuadrada (alternativa a height = width)
}